In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('train_v9rqX0R.csv')
tes=pd.read_csv('test_AbJTz2l.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [4]:
tes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            5681 non-null   object
 1   Item_Weight                4705 non-null   float64
 2   Item_Fat_Content           5681 non-null   object
 3   Item_Visibility            5681 non-null   float64
 4   Item_Type                  5681 non-null   object
 5   Item_MRP                   5681 non-null   float64
 6   Outlet_Identifier          5681 non-null   object
 7   Outlet_Establishment_Year  5681 non-null   int64
 8   Outlet_Size                4075 non-null   object
 9   Outlet_Location_Type       5681 non-null   object
 10  Outlet_Type                5681 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 488.3+ KB

In [5]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [44]:
train=df.copy()

In [45]:
train =train.drop('Item_Outlet_Sales',axis=1)

In [110]:
y=df.Item_Outlet_Sales

In [46]:
train.Item_Fat_Content.unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [47]:
train.Item_Fat_Content.replace(['Low Fat','Regular','low fat','LF','reg'],['low fat','reg','low fat','low fat','reg'],inplace=True)

In [48]:
test=tes.copy()

In [49]:
test.Item_Fat_Content.replace(['Low Fat','Regular','low fat','LF','reg'],['low fat','reg','low fat','low fat','reg'],inplace=True)

In [76]:
train.Item_Weight.mean()

12.857645184136183

In [78]:
train.Item_weight =train.Item_Weight.fillna(12,inplace=True)

In [ ]:
train.Item_Weight.isnull().any()

In [81]:
test.Item_Weight.mean()

12.695633368756374

In [82]:
test.Item_weight =test.Item_Weight.fillna(12,inplace=True)

In [113]:
features=['Item_Weight','Item_Fat_Content','Item_Visibility','Item_Type','Item_MRP','Outlet_Identifier','Outlet_Type']

In [90]:
train.Outlet_Location_Type.nunique()

3

In [178]:
trainn =train[features]

In [179]:
testt=test[features]

In [180]:
x=pd.get_dummies(trainn)

In [181]:
xtest=pd.get_dummies(testt)

In [182]:
train.Item_Identifier.nunique()

1559

In [183]:
test.Item_Identifier.nunique()

1543

In [184]:
x

,Item_Weight,Item_Visibility,Item_MRP,Item_Fat_Content_low fat,Item_Fat_Content_reg,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,...,Outlet_Identifier_OUT019,Outlet_Identifier_OUT027,Outlet_Identifier_OUT035,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.300,0.016047,249.8092,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,1,0,0
1,5.920,0.019278,48.2692,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,17.500,0.016760,141.6180,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
3,19.200,0.000000,182.0950,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,8.930,0.000000,53.8614,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,6.865,0.056783,214.5218,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8519,8.380,0.046982,108.1570,0,1,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
8520,10.600,0.035186,85.1224,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
8521,7.210,0.145221,103.1332,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8522,14.800,0.044878,75.4670,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [119]:
xtest

,Item_Weight,Item_Visibility,Item_MRP,Item_Fat_Content_low fat,Item_Fat_Content_reg,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,...,Outlet_Identifier_OUT019,Outlet_Identifier_OUT027,Outlet_Identifier_OUT035,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,20.750,0.007565,107.8622,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1,8.300,0.038428,87.3198,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,14.600,0.099575,241.7538,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,7.315,0.015388,155.0340,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,12.000,0.118599,234.2300,0,1,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5676,10.500,0.013496,141.3154,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
5677,7.600,0.142991,169.1448,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5678,10.000,0.073529,118.7440,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
5679,15.300,0.000000,214.6218,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
5680,9.500,0.104720,79.7960,0,1,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0

In [185]:
xle=train.Item_Identifier
xtle=test.Item_Identifier

In [186]:
xtle.nunique()

1543

In [187]:
from sklearn.preprocessing import LabelEncoder

encoder=LabelEncoder()
xle=encoder.fit_transform(xle)
xtle=encoder.fit_transform(xtle)

In [174]:
xtle

      Identifier
0           1103
1           1067
2           1406
3            809
4           1184
...          ...
5676         231
5677         306
5678        1412
5679         517
5680         987

[5681 rows x 1 columns]

In [188]:
xle=pd.DataFrame(xle)

In [189]:
xle.rename(columns={0:'Identifier'},inplace=True)

In [190]:
xtle=pd.DataFrame(xtle)

In [191]:
xtle.rename(columns={0:'Identifier'},inplace=True)

In [192]:
x=pd.concat([x,xle],axis=1)

In [194]:
xtest=pd.concat([xtest,xtle],axis=1)

In [195]:
xtest

,Item_Weight,Item_Visibility,Item_MRP,Item_Fat_Content_low fat,Item_Fat_Content_reg,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,...,Outlet_Identifier_OUT027,Outlet_Identifier_OUT035,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Identifier
0,20.750,0.007565,107.8622,1,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1103
1,8.300,0.038428,87.3198,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1067
2,14.600,0.099575,241.7538,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1406
3,7.315,0.015388,155.0340,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,809
4,12.000,0.118599,234.2300,0,1,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,1184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5676,10.500,0.013496,141.3154,0,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,231
5677,7.600,0.142991,169.1448,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,306
5678,10.000,0.073529,118.7440,1,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1412
5679,15.300,0.000000,214.6218,0,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,517
5680,9.500,0.104720,79.7960,0,1,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,987

In [196]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

model=RandomForestRegressor(n_estimators=100, random_state=1)
model.fit(x_train,y_train)
pred=model.predict(x_test)

In [256]:
from sklearn.tree import DecisionTreeRegressor
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

model1=DecisionTreeRegressor()
model1.fit(x_train, y_train)
pred1=model.predict(x_test)

In [257]:
logic(y_test,pred1)

1367826.4026167395

In [206]:
final=model.predict(xtest)

In [203]:
from sklearn.metrics import mean_squared_error
logic =mean_squared_error
percent=logic(y_test,pred)

In [204]:
percent

1367826.4026167395

In [226]:
final= pd.DataFrame(predicted)

In [227]:
final.rename(columns={0:'Item_Outlet_Sales'},inplace=True)

In [228]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 1 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Item_Outlet_Sales  5681 non-null   float64
dtypes: float64(1)
memory usage: 44.5 KB

In [214]:
tes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            5681 non-null   object
 1   Item_Weight                4705 non-null   float64
 2   Item_Fat_Content           5681 non-null   object
 3   Item_Visibility            5681 non-null   float64
 4   Item_Type                  5681 non-null   object
 5   Item_MRP                   5681 non-null   float64
 6   Outlet_Identifier          5681 non-null   object
 7   Outlet_Establishment_Year  5681 non-null   int64
 8   Outlet_Size                4075 non-null   object
 9   Outlet_Location_Type       5681 non-null   object
 10  Outlet_Type                5681 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 488.3+ KB

In [264]:
grp= tes[['Item_Identifier','Outlet_Identifier']]

In [267]:
grp=pd.concat([grp,final],axis=1)

In [268]:
grp

     Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0              FDW58            OUT049        1578.278900
1              FDW14            OUT017        1314.841814
2              NCN55            OUT010         536.355164
3              FDQ58            OUT017        2486.470048
4              FDY38            OUT027        6802.538522
...              ...               ...                ...
5676           FDB58            OUT046        2555.313768
5677           FDD47            OUT018        3290.110622
5678           NCO17            OUT045        1902.290470
5679           FDJ26            OUT017        5033.880770
5680           FDU37            OUT045        1616.109656

[5681 rows x 3 columns]

In [271]:
grp.to_csv('my_sub.csv',index=False)